{% extends "base.html" %} {% load static %} 

{% block title %}Detail {% endblock %} 

{% block content %}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">

      
      <div class="col-lg-9">
        <article>

          {% if article.image %}
            <img src="{{ article.image.url }}" class="img-fluid mb-4">
          {% endif %}

          <h1 class="h2">{{ article.titre }}</h1>

          <ul class="list-inline mb-3">
            <li class="list-inline-item">
               {{ article.date_publication|date:"d M Y" }}
            </li>
            <li class="list-inline-item">
               {{ article.categorie.nom }}
            </li>
          </ul>

          <div>
            {{ article.contenu }}
          </div>

        </article>
      </div>

      <!-- COMMENTAIRES -->
        <div class="col-lg-3">
            <h3 class="h4 mb-4">Commentaires</h3>
    
            {% for commentaire in commentaires %}
            <div class="mb-3 p-3 bg-light rounded">
                <p class="mb-1">{{ commentaire.contenu }}</p>
                <small class="text-muted">Par {{ commentaire.user.username }} le {{ commentaire.date_commentaire|date:"d M Y H:i" }}</small>
            </div>
            {% if request.user == commentaire.user %}
                <a href="{% url 'comment_edit' commentaire.id %}">Modifier</a>
                
            {% endif %}
            {% empty %}
            <p class="text-muted">Aucun commentaire pour cet article.</p>
            {% endfor %}
    
            {% if user.is_authenticated %}
                <h4 class="mt-4">Ajouter un commentaire</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.contenu }}
                    </div>
                    <button class="btn btn-primary">Envoyer</button>
                </form>
            {% endif %}


    </div>
  </div>
</section>

{% endblock %}